<div class="form-container">
  <form
    (ngSubmit)="onSubmit(f)"
    #f="ngForm"
    class="form"
    style="grid-column: 1"
  >
    <h1>Formulaire de saisie d'informations client</h1>
    <i>Les champs avec un (*) sont requis.</i>

    <div class="form-group">
      <div class="sticky" style="background-color: var(--main)">
        <h2>Informations</h2>
      </div>
      <label for="nom">Nom *</label
      ><input
        (change)="this.nomChanged = true"
        [ngClass]="{
          'input-wrong': nomChanged && !nom
        }"
        [(ngModel)]="nom"
        name="nom"
        required
      />
      <small class="error-message" *ngIf="this.nomChanged && !nom">
        Veuillez renseigner un nom
      </small>
      <label for="prenom">Prénom *</label>
      <input
        (change)="this.prenomChanged = true"
        [ngClass]="{
          'input-wrong': !prenom && prenomChanged
        }"
        [(ngModel)]="prenom"
        name="prenom"
        required
      />
      <small class="error-message" *ngIf="this.prenomChanged && !prenom">
        Veuillez renseigner un prénom
      </small>
      <label for="civilite">Civilité</label>

      <select [(ngModel)]="civilite" name="civilite">
        <option>M</option>
        <option>F</option>
      </select>
    </div>
    <div class="form-group">
      <div class="sticky" style="background-color: var(--main)">
        <h2>Coordonnées</h2>
      </div>
      <label for="adresse">Adresse</label
      ><input [(ngModel)]="adresse" name="adresse" />
      <label for="cp">Code postal</label><input [(ngModel)]="cp" name="cp" />
      <label for="ville">Ville</label
      ><input [(ngModel)]="ville" name="ville" />
      <label for="tel">Téléphone * <i>(10 chiffres requis)</i></label
      ><input
        (change)="telChanged = true"
        type="tel"
        [ngClass]="{
          'input-wrong': tel.length !== 10 && telChanged
        }"
        [(ngModel)]="tel"
        name="tel"
        required
        tel
      />
      <label for="pays">Pays</label><input [(ngModel)]="pays" name="pays" />
      <label for="email">Email *</label
      ><input
        (change)="this.emailChanged = true"
        type="email"
        [ngClass]="{
          'input-wrong': emailChanged && !isEmailValid()
        }"
        [(ngModel)]="email"
        name="email"
        required
        email
      />
      <small *ngIf="emailChanged && !isEmailValid()" class="error-message">
        Merci de renseigner une adresse mail valide.
      </small>
    </div>

    <div
      class="form-group"
      style="
        background-color: var(--primary);
        color: black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
      "
    >
      <h2>Connexion</h2>
      <label for="login">Login *</label
      ><input
        style="background-color: white"
        [ngClass]="{ 'input-wrong': !login && loginChanged }"
        [(ngModel)]="login"
        name="login"
        required
      />
      <label for="password">Mot de passe *</label
      ><input
        (change)="this.passwordChanged = true"
        style="background-color: white"
        [ngClass]="{
          'input-success': password && passwordChanged,
          'input-wrong': !password && passwordChanged
        }"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />

      <label for="password">Confirmer le mot de passe *</label>

      <input
        (change)="this.confirmPasswordChanged = true"
        style="background-color: white"
        [ngClass]="{
          'input-success': isSamePassword() && confirmPasswordChanged,
          'input-wrong': !isSamePassword() && confirmPasswordChanged
        }"
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
      <small
        class="error-message"
        *ngIf="!isSamePassword() && confirmPasswordChanged"
        >Veuillez renseigner le même mot de passe</small
      >
    </div>

    <button
      style="margin-top: 10px"
      [ngClass]="{
        'btn-primary': f.valid
      }"
      (click)="showRecap()"
      [disabled]="f.invalid"
    >
      Envoyer
    </button>
  </form>
  <div>
    <app-recapitulatif
      [submitted]="submitted"
      [nom]="nom"
      [prenom]="prenom"
      [civilite]="civilite"
      [adresse]="adresse"
      [cp]="cp"
      [ville]="ville"
      [tel]="tel"
      [email]="email"
      [pays]="pays"
      [login]="login"
      [password]="password"
    ></app-recapitulatif>
  </div>
</div>
