:root {
  --primary: #84c9fb;
  --main: #18242b;
  --blue: #23395d;
  --green: #c1e1c1;
}

.body {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  margin: 0;
  gap: 10px;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main);
}

input {
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: #b0c4de;
  color: black;
}

select {
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: #b0c4de;
  color: black;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.input-wrong {
  border: 0.1em solid;
  border-color: red;
}

.input-success {
  border: solid;
  border-color: green;
}

.form-group {
  display: grid;
  gap: 5px;
}
.btn-primary {
  padding: 10px;
  background-color: var(--primary);
  border: none;
  border-radius: 100px;
}

.form-container {
  background-color: var(--main);
  color: var(--primary);
  padding: 30px;
  display: grid;
  column-gap: 100px;
  grid-template-columns: 1fr 2fr;
}

.btn-primary:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: var(--green);
}

@media screen and (max-width: 640px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
  }
}
